name: Release

on:
  push:
    tags:
      - v*

jobs:
  publish-npm:
    uses: sxzz/workflows/.github/workflows/release.yml@v1
    with:
      build: npm run build
      publish: true
    permissions:
      id-token: write
      contents: write
